<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home/login.css">  
    <script src="/js/home/login.js" defer> </script>
    <title>Document</title>
</head>
<body>
  <div class="login">
    <div class="form">
        <h2>키다리은행 조합원 인증</h2>

        <form class = "login-form">
            <img src="https://blogpfthumb-phinf.pstatic.net/MjAyMTA0MDVfMjAx/MDAxNjE3NTg1MjU1NTQ1.LYu1pNHDMI55bfjUoAuXzfVc71e7cO-GGfWMD4-d-T0g.LB2WzxYpnLs351cpaNeUyRD7WoSJWPfTsSFaFNZj_awg.PNG.kidaribank/%25ED%2594%2584%25EB%25A1%259C%25ED%2595%2584.png&rClickYn=false&isOwner=false" width="200" height="200">
            <input id="id" type="text" class="form-control" placeholder="조합원명"><br>
            <input id="psword" type="password" class="form-control" placeholder="조합원 코드"><br>
    
            <div class="row">
                <div class="col-12">
                <hr class="my-hr1">
                </div>
            </div>

            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfRogp1138k9DRFiW03WugURihQNnFRE3shfHwDdbetLvdPEg/viewform?embedded=true" width="360" height="1600" frameborder="0" marginheight="0" marginwidth="0">로드 중…</iframe>     
            <button id="btn">로그인</button>  
        </form>
    </div>
  </div>

</body>
</html>